/* Container styling */
.container {
  padding: 50px 40px;
  color: #fff;
  height: 100vh; /* Fullscreen height */
  overflow-y: auto; /* Allow the entire container to scroll if needed */
  display: flex;
  flex-direction: column;
}

.awardsSection {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap; /* Allows content to wrap within the container */
}

.imageContainer {
  flex: 0 0 25%; /* Image container takes up 25% of the width */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Space between the image and the awards text */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.awardsTextContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sectionTitle {
  font-size: 1.8em;
  margin-bottom: 35px;
  text-align: center;
  display: grid;
  width: 100%;
  place-items: center;
  color: var(--gold);
}

.awardScrollable {
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  max-height: 200px; /* Restrict height to enable scrolling */
}

.awardItem {
  margin-bottom: 15px;
}

.awardText {
  font-size: 1.2em;
  text-align: left;
}

.awardText p {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.awardText p strong {
  display: flex;
  width: 100%;
  color: var(--gold);
}

/* Content Section */
.contentSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 0 30px;
  align-items: center;
}

.introText {
  font-size: 1.4em;
  margin: 0 40px 40px;
  text-align: center;
  width: 100%; /* Adjust the width to balance with the brands section */
}

.brandsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
}

.brandsWrapper {
  display: flex;
  flex-flow: row wrap; /* Allows logos to wrap to new lines if needed */
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.brandLogo {
  flex-shrink: 0; /* Prevent logos from shrinking */
}

/* Responsive styling */
@media (max-width: 600px) {
  .awardsSection {
    flex-direction: column;
  }

  .imageContainer {
    margin-bottom: 20px;
    flex: 0 0 auto;
  }

  .awardsTextContainer {
    flex: 1;
  }

  .introText {
    font-size: 1.3em;
    max-width: 100%;
    margin: 0 20px 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .awardScrollable {
    max-height: 300px;
  }

  .sectionTitle {
    font-size: 1.5em;
    text-align: center;
  }

  .awardText {
    font-size: 1.1em;
  }
  .introText {
    font-size: 1.3em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .awardScrollable {
    max-height: 400px;
  }

  .sectionTitle {
    font-size: 1.8em;
    text-align: center;
  }

  .awardText {
    font-size: 1.3em;
  }
  .introText {
    font-size: 1.5em;
  }
}

@media (min-width: 1441px) {
  .awardScrollable {
    max-height: 500px;
  }

  .sectionTitle {
    font-size: 2em;
    text-align: center;
  }

  .awardText {
    font-size: 1.4em;
  }
  .introText {
    font-size: 1.6em;
  }
}
