/* app/components/HeroSection/HeroSection.module.css */
.textContainer {
  max-width: 800px;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.textContainer h1 {
  cursor: pointer;
}

.role {
  padding: 0;
  margin: 0;
  line-height: 0;
  font-weight: 400;
  cursor: pointer;
}

/* Responsive Breakpoints */
@media (max-width: 600px) {
  .textContainer h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .role {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .textContainer h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .role {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .textContainer h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .role {
    font-size: 2rem;
  }
}

@media (min-width: 1441px) {
  .textContainer h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .role {
    font-size: 2.5rem;
  }
}
