.navDiv {
  width: 100%;
  display: flex;
  justify-content: right;
  z-index: 100000;
}

.dropBtn {
  display: grid;
  place-items: center;
  padding: 30px 20px;
  background-color: transparent;
}

.dropdown {
  display: flex;
  width: 30px;
  background-color: white;
  height: 2px;
  position: relative;
  margin: 10px;
}
.dropdown::after,
.dropdown::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: white;
  height: 2px;
}
.dropdown::after {
  top: 10px;
}
.dropdown::before {
  top: -10px;
}

.sideBar {
  z-index: 100;
  background-color: #000000;
  width: 100%;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  right: 0;
}

.closeContainer {
  display: flex;
  justify-content: right;
}

.closeBtn {
  color: #ffffff;
  font-size: 20px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #ecececcd;
}

.linkContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 30px;
  gap: 10px;
}

.navItem {
  background-color: #111;
  width: 100%;
  color: #fff;
  padding: 16px 16px;
}

.navItem:hover,
.navItem:focus {
  background-color: #2d2d2de6;
}
