.navDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.7rem 0;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  gap: 2px;
}

.nav-item {
  width: fit-content;
  text-align: center;
  background-color: #00000000;
  color: #ffffff;
  position: relative;
  font-size: 1.5rem;
}

.nav-item::after,
.nav-item::before {
  content: "";
  width: 1px;
  height: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  background-color: #ffffff9a;
  transition: height 0.15s;
}

.nav-item::before {
  right: 0;
}

.nav-item::after {
  left: 0;
}

.nav-item:hover::before,
.nav-item:hover::after {
  height: 20px;
}

.active::after,
.active::before {
  content: "";
  width: 1px;
  height: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  background-color: white;
}

.active:hover::after,
.active:hover::before,
.active:focus::after,
.active:focus::before {
  content: "";
  width: 1px;
  height: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  background-color: white;
}

/* Tablets: min-width 601px and max-width 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .nav-item {
    font-size: 1rem;
  }
}

/* Desktops: min-width 1025px and max-width 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  .nav-item {
    font-size: 1.1rem;
  }
}

/* Large Desktops: min-width 1441px */
@media (min-width: 1441px) {
  .nav-item {
    font-size: 1.3rem;
  }

  .nav-item:hover::before,
  .nav-item:hover::after {
    height: 30px;
  }

  .active::after,
  .active::before {
    content: "";
    width: 1px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    background-color: white;
  }

  .active:hover::after,
  .active:hover::before,
  .active:focus::after,
  .active:focus::before {
    content: "";
    width: 1px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    background-color: white;
  }
}
