@import "aos/dist/aos.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel&family=Playfair+Display&family=Impact&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Lato", sans-serif; /* Fallback font */
  display: grid;
  place-items: center;
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  background-color: #111;
  text-align: center;
  color: white;
}
