@import "aos/dist/aos.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@400;700&family=Cinzel:wght@400;700&family=Impact:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif; /* Fallback font */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #111;
  color: white;
}
