@import "aos/dist/aos.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif; /* Fallback font */
}
