/* components/ContactSection.module.css */

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.contactSection {
  max-width: 1300px;
  width: 90vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background-color: transparent; /* Transparent background */
}

.contactInfo {
  flex: 1;
  max-width: 50%;
  padding-right: 30px;
}

.contactHeading {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--gold); /* White color for the header */
}

.contactTopics {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  color: #cccccc;
  text-align: left;
}

.contactTopics li {
  cursor: default;
  margin-bottom: 5px;
  font-size: 1.2rem;
  padding: 2px 0;
  position: relative;
  transition: color 0.3s ease;
}

.contactTopics li::before {
  content: "•";
  color: #ffffff; /* White dot before the text */
  position: absolute;
  left: -20px;
}

.contactTopics li:hover {
  color: #ffffff; /* White text on hover */
}

.contactDetails p {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  text-align: left;
}

.contactDetails p a {
  color: #cccccc; /* Light grey for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.contactDetails p a:hover {
  color: #ffffff; /* White on hover */
}

.icon {
  margin-right: 10px;
  color: #cccccc; /* Light grey for icons */
  font-size: 20px;
}

@media (max-width: 600px) {
  .contactSection {
    flex-direction: column;
    max-height: 80vh;
  }

  .contactInfo {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .contactSection {
    max-height: 82vh;
  }
  .contactHeading {
    font-size: 1.8rem;
  }

  .contactTopics li {
    font-size: 1.1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .contactSection {
    max-height: 100vh;
  }

  .contactHeading {
    font-size: 2rem;
  }

  .contactTopics li {
    font-size: 1.2rem;
  }
}

@media (min-width: 1441px) {
  .contactSection {
    max-height: 100vh;
  }
  .contactHeading {
    font-size: 2.2rem;
  }

  .contactTopics li {
    font-size: 1.3rem;
  }
}
